<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>viz</title>

    <!-- Le styles -->
    <link href="../../static/css/common.css" rel="stylesheet">
    <link href="../../static/css/nv.d3.css" rel="stylesheet">
    <link href="../../static/css/syntax.css" rel="stylesheet">
    <script src="../../static/js/d3.v2.js"></script>
    <script src="../../static/js/fisheye.js"></script>
    <script src="../../static/js/nv.d3.js"></script>
    <!--script src="../../static/js/bubblechart.js"></script--!>

    <script src="../../static/js/stream_layers.js"></script>

  </head>

  <body>
    <div id='chart'>
        <svg style='height:auto'> </svg>
    </div>
    <script src='../../static/js/bubblechart.js' type='text/javascript'> </script>
  </body>
</html>
